@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";

body {
  margin: 0;
}

.white {
  color: white;
}

.greyFont {
  color: #45484B;
}

.pewter {
  background-color: #696758;
}

.grey {
  background-color: #45484B;
}

.tan {
  background-color: #BCBDAC;
}

.header {
  font-family: Lato;
  text-align: center;
  background: url("../assets/images/background_image.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92%;

  h1 {
    font-size: 80px;
    font-weight: 100;
    margin: 0;
    padding: 10px 0 5px 0;
  }

  h4 {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
    font-style: italic;
    margin: 10px;
  }
}

.section {
  position: relative;
  margin-top: 50%
}

.navbar {
  height: 60px;
  text-align: center;
  padding: 20px 0 0 0;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;

  a {
    padding: 0 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
}

h2 {
  text-align: center;
  margin-top: 20%;
  font-family: Lato;
  font-weight: 100;
  font-size: 80px;
  // margin-bottom: 50%;
}

button {
  font-weight: 100;
  font-family: Lato;
  font-size: 80px;
  border: none;
}

button.arrow {
  border: 2px solid white;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  font-family: Lato;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  padding-top: 5px;
}

.bodyText {
  padding-top: 30px;
  p {
      font-family: Lato;
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 5px;
      padding: 5px 80px;
      text-align: left;
  }
}

#skills {
  p {
    margin-top: 25%;
    font-family: Lato;
    font-size: 18px;
    padding: 5px 80px;
    line-height: 40px;
    word-spacing: 5px;
    color: white;
  }

  .largeFont {
    font-size: 40px;
  }

  .angular {
    color: #CA3D32;
  }

  .ruby {
    color: #C6342A;
  }

  .bootstrap {
    color: #574B81;
  }

  .grunt {
    color: #f1AB3A;
  }

  .s3 {
    color: #F6BC37;
  }

  .twilio {
    color: #E93F33;
  }

  .cs6 {
    color: #D7D7D7;
  }

  .google {
    color: #4485FA;
  }

  .asana {
    color: #328ACA;
  }
}

.row {
  text-align: center;
  height: 300px;
  .portfolio_description {
    padding-left: 10px;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    color: #45484B;

    .bold {
      font-weight: 600;
    }
  }

  .portfolio_img img {
    border-radius: 8px;
    max-width: 380px;
    margin: 10px;
  }
}

img.resume {
  width: 85%;
  margin-top: 25px;
}

#connect {
  width: 100%;
  text-align: center;
  height: 60px;
  background-color: #45484B;

  img.icon {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin: 10px 40px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 0;
    width: 100%;

    .aboutLeft {
      margin: none;
      height: 60px;
      background-color: #696758;
      color: white;
    }

    .aboutRight {
      overflow: none;
      height: auto;
      // background-color: #696758;
      // color: white;
    }

    .skillsLeft {
      height: 60px;
      background-color: #45484B;
      color: white;
    }

    .skillsRight {
      // background-color: #45484B;
      overflow: none;
      height: auto;
    }

    .portfolioLeft {
      height: 60px;
      background-color: #BCBDAC;
      color: white;
    }

    .portfolioRight {
      background-color: white;
      overflow: none;
      height: auto;
    }

    .resumeLeft {
      height: 60px;
      background-color: #696758;
      color: white;
    }

    .resumeRight {
      overflow: none;
      height: auto;
      text-align: center;
      border-top: 1px solid white;
    }
  }

  .header {
    height: 360px;
  }

  .navbar {
    a {
      padding: 0 10px;
    }
  }

  .bodyText {
    border-top: 1px solid white;
    padding: 5px 0 20px 0;
    p {
        padding: 5px 20px;
        font-weight: 300;
    }
  }

  h2 {
    text-align: center;
    margin-top: 0;
    font-family: Lato;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 0px;
  }

  button {
    font-size: 46px;
  }

  #skills {
    p {
      border-top: 1px solid white;
      margin: 0px;
      color: #45484B;
      padding: 20px 20px;
    }
  }
  .hide {
    display: none;
  }

  img.resume {
    width: 85%;
    margin: 20px;
  }
}

@media (min-width: 1201px) {
  .container {
    @include outer-container(100%);
    max-width: 100%;
    height: 100%;

    .aboutLeft {
      @include span-columns(6 of 12, block-collapse);
      height: 100%;
      background-color: #696758;
    }

    .aboutRight {
      @include span-columns(6 of 12, block-collapse);
      // @include reset-display;
      overflow: auto;
      height: 100%;
      color: #45484B;
    }

    .skillsLeft {
      @include span-columns(6 of 12, block-collapse);
      height: 100%;
      color: #45484B;
    }

    .skillsRight {
      @include span-columns(6 of 12, block-collapse);
      // @include reset-display;
      background-color: #45484B;
      overflow: auto;
      height: 100%;
    }

    .portfolioLeft {
      @include span-columns(6 of 12, block-collapse);
      height: 100%;
      background-color: #BCBDAC;
    }

    .portfolioRight {
      @include span-columns(6 of 12, block-collapse);
      // @include reset-display;
      overflow: auto;
      height: 100%;
    }

    .resumeLeft {
      @include span-columns(6 of 12, block-collapse);
      height: 100%;
      color: #45484B;
    }

    .resumeRight {
      @include span-columns(6 of 12, block-collapse);
      // @include reset-display;
      overflow: auto;
      height: 100%;
      text-align: center;
      background-color: #696758;
    }
  }

  .row {
    .portfolio_description {
      @include span-columns(3 of 6);
    }

    .portfolio_img img {
      @include span-columns(3 of 6);
    }
  }

  .button {
    @include span-columns(12 of 12, block-collapse);
    text-align: center;
    margin-top: -20%;
  }

  button#dropDownSkills, button#dropDownResume {
    background-color: white;
    color: #45484B;
  }
}
