html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Molly Morgan Black
    link(rel='stylesheet', href='css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css')
  body
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    section
      .bio
        .headshot
          img(src="assets/images/forest_headshot.jpg")
        .header
          h1.header MOLLY MORGAN BLACK
          h4.header Junior Software Developer | Product Manager
        .languages.header
          h2.header LANGUAGES
          ul
            li HTML5
            li CSS3
            li JavaScript
            li AngularJS
            li Ruby
            li Rails
            li French
        .skills.header
          h2.header SKILLS
          ul
            li Jade
            li SASS
            li Bootstrap
            li jQuery
            li Grunt
            li Gulp
            li Bower
            li JSON
            li Firebase
            li S3
            li Jekyll
            li SQL
            li Mocha
            li Chai
            li TDD
            li Sendgrid
            li Twilio
            li Podio
            li Asana
            li Basecamp
            li Google Spreadsheets
            li CS6
            li Reputation Management
            li SEO
            li Google Search Optimization
            li Google Local Optimization
            li Auto-Suggest Optimization
        .summary.header
          h2.header BIO
          p My professional story is a long one, but I'll condense: Neuroscience and creative writing double major at Columbia University. French speaker. Former neuropsych researcher, academic tutor, book editor, and book designer. Still love all these past lives. Brief toe dip into the world of advertising. Too cold. Grew up in Portland, OR, raised by NYC, and lived in South Africa and France in the in betweens. Found my passion as a product manager at a tech start-up right outside of Nashville, Tennessee and realized I wanted to become a software developer. Go figure.
        .social
          img.icon(src="assets/social_icons/github_icon.svg")
          img.icon(src="assets/social_icons/linkedin_icon.png")
          img.icon(src="assets/social_icons/twitter-icon.png")
      .portfolio
